<!--<button (click)="hideElement = !hideElement" class="discussion-button" title>Démarer une discussion</button>
<ia-post-create *ngIf="hideElement"></ia-post-create>-->



<div class="discussion-let-comment" style="transition-duration: 0.4s;-webkit-transition-duration: 0.4s;">
    <form action="#" method="post" id="comment-form" class="comment-form">
        <h3 class="discussion-legende" style="color:black; margin-bottom:0px">Titre</h3>
        <input cols="60" rows="8" aria-required="true" class="discussion-let-comment-field-small" #title/>
        <!--        <input #title/> !-->
        <div class="discussion-reponse">
            <h3 class="discussion-legende" style="float:left; margin-top:0px !important; color:black">Message</h3>
            <div class="stripe-line" style="margin-top:3px!important;"></div>
        </div>
        <input cols="60" rows="8" aria-required="true" class="discussion-let-comment-field" #description/>
        <!--<input #description/>!-->
        <div class="discussion-title-reponse" style="margin-top:-4px">
            <button (click)="addPost(title.value, description.value); title.value=''" class="discussion-title-reponse-texte-button" title>Envoyer</button>
        </div>
    </form>
    <div class="discussion-reponse">
        <h3 class="discussion-legende" style="float:left; margin-top:0px !important; color:black"></h3>
        <div class="stripe-line" style="margin-bottom:20px;"></div>
    </div>
</div>

<!--<li *ngFor="let currentPost of Post">{{currentPost.title}}</li>!-->


<div class="discussion-item" *ngFor="let currentPost of Post">
    <div class="discussion-avatar">
        <img src="https://s.gravatar.com/avatar/909ecf5782b2ea2ee8888221dd8beba8?s=80">
    </div>
    <div class="discussion-title-all">
        <span class="discussion-title-tag"><i class="fa fa-users"></i></span>
        <a href="http://localhost:3000/forum/{{currentPost.uuid}}/topics">
            <span class="discussion-title">{{currentPost.title}} (CATEGORIE)</span>
        </a>
    </div>
    <p class="discussion-tags">
        <span class="discussion-author">
        <span class="discussion-user-logo"><i class="fa fa-user"></i></span>
        <a href="#" title>USER USER NAME</a>
        </span>
        <span class="discussion-time">
        <span class="discussion-time-logo"><i class="fa fa-clock-o"></i></span>
        <a href="" title>{{currentPost.updatedAt.replace("-", "/").replace("-","/").split("T", 1)}}
          {{currentPost.updatedAt.split("T")[1].split(".", 1)}}</a>
        </span>
        <span class="discussion-com">
        <span class="discussion-com-logo"><i class="fa fa-comment-o"></i></span>
        <a href="#" title>COMENT NBR commentaires</a>
        </span>
        <span class="discussion-like">
        <span class="discussion-like-logo"><i class="fa fa-heart-o"></i></span>
        <a href="#" title>LIKE NBR likes</a>
        </span>
        <span class="discussion-game">
        <span class="discussion-game-logo"><i class="fa fa-puzzle-piece"></i></span>
        <a href="#" title>GAME GAME NAME</a>
        </span>
        <span>
          <button (click)="deletePost(currentPost.uuid)" style="padding:0px 110px; background-color:transparent">{{currentPost.uuid}}</button>
        </span>
    </p>
    <div class="discussion-blue"></div>
</div>




<!--<div class="discussion-item" *ngFor="let currentPost of Post">
  <div class="discussion-avatar">
    <img src={{post.currentUser.avatar}}>
  </div>
  <div class="discussion-title-all">
    <span class="discussion-title-tag"><i class={{post.categorie.categorieSymbol}}></i></span>
    <a [routerLink]="['/forum/discussion']">
      <span class="discussion-title">{{post.title}} ({{post.categorie.categorieName}})</span>
    </a>
  </div>
  <p class="discussion-tags">
      <span class="discussion-author">
        <span class="discussion-user-logo"><i class="fa fa-user"></i></span>
        <a href={{post.currentUser.name.nameLink}} title>{{post.currentUser.name.nameName}}</a>
      </span>
    <span class="discussion-time">
        <span class="discussion-time-logo"><i class="fa fa-clock-o"></i></span>
        <a href="#" title>Il y a {{post.time}}</a>
      </span>
    <span class="discussion-com">
        <span class="discussion-com-logo"><i class="fa fa-comment-o"></i></span>
        <a href={{post.comment.commentLink}} title>{{post.comment.commentNb}} commentaires</a>
      </span>
    <span class="discussion-like">
        <span class="discussion-like-logo"><i class="fa fa-heart-o"></i></span>
        <a href={{post.like.likeLink}} title>{{post.like.likeNb}} likes</a>
      </span>
    <span class="discussion-game">
        <span class="discussion-game-logo"><i class="fa fa-puzzle-piece"></i></span>
        <a href={{post.game.gameLink}} title>{{post.game.gameName}}</a>
      </span>
  </p>
  <div class="discussion-blue"></div>
</div>!-->
