<div class="discussion-reponse-1" *ngFor="let post of currentPost">
  <div class="discussion-reponse-date">
    <h3 class="discussion-legende">{{post.time.date}} à {{post.time.hour}}h{{post.time.minute}}</h3>
  </div>
  <div class="discussion-avatar" style="margin-left:-40px; margin-top:30px;">
    <img src={{post.currentUser.avatar}}>
  </div>
  <p class="discussion-reponse-user">
    <span class="discussion-reponse-user-login">{{post.currentUser.name.nameName}}</span>
    <span style="font-size:24px"><a href={{post.currentUser.name.nameLink}} title><i class="fa fa-envelope-o"></i></a></span>
  </p>
  <div class="discussion-reponse-user-texte">
  </div>
  <h3 class="discussion-reponse-user-texte">{{post.message}}</h3>
  <div class="discussion-title-reponse-small">
    <a href="#" class="discussion-title-reponse-texte" title>Repondre</a>
  </div>
</div>
