button {
    background-color: #00cccc;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
}

.container {
    min-height:150px;
}

#closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    float:right;
}