<span md-button (click)="menu.close()" class="close-button glyphicon glyphicon-remove"></span>

<button md-button (click)="toggleMode()">Toggle</button>

<span>Mode : {{menu.mode}}</span>

<tabs>
    <tab tabTitle="Objects List">
        <div *ngFor="let item of gameController.getObjects()" class={{item.uuid}}>
            {{item.name}}
        </div>
    </tab>
    <tab tabTitle="Rules List">
        <div> Rule 1</div>
        <div> Rule 2</div>
        <div> Rule 3</div>
        <div> Rule 4</div>
        <div> Rule 5</div>
        <div> Rule 6</div>
    </tab>
</tabs>