<span md-button (click)="menu.close()" class="close-button glyphicon glyphicon-remove"></span>

<button md-button (click)="toggleMode()">Toggle</button>

<span>Mode : {{menu.mode}}</span>

<ia-tabs>
    <ia-tab tabTitle="Objects List">
      <div>Choose one item in the list below:</div><br/>
        <div *ngFor="let item of objs">
            <span (click)="loadRules(item.uuid)"> {{item.name}} </span>
        </div>
    </ia-tab>
    <ia-tab tabTitle="Rules List">
      <div>
        <!-- Make dynamic tooltips later -->
          <div class='container' [dragula]='"first-bag"' id="rulesContainerSource">
            <div id="ChangeColor" title="This is a rule to change color">ChangeColor</div>
            <div id="MoveForward" title="This is a rule to move forward">MoveForward</div>
            <div id="MoveDiag" title="This is a rule to move in diagonal">MoveDiag</div>
            <div id="TestRuleTrue" title="This is a test True rule">TestRuleTrue</div>
            <div id="TestRuleFalse" title="This is a test False rule">TestRuleFalse</div>
            <div id="ChangeTurn" title="In this rule you can set the number of player and the number of time they can play">ChangeTurn</div>
          </div>
      </div>
    </ia-tab>
</ia-tabs>
