<div class="col-md-2"></div>
<article class="col-md-12">


  <div class="discussion-item">
    <div class="discussion-avatar">
      <img src="https://s.gravatar.com/avatar/909ecf5782b2ea2ee8888221dd8beba8?s=80">
    </div>

    <div class="discussion-title-reponse">
      <a href="#" class="discussion-title-reponse-texte" title>Démarer une discussion</a>
    </div>

    <div class="discussion-title-all" style="margin-top: -20px">
      <span class="discussion-title-tag"><i class="fa fa-question"></i></span>
      <a href="#">
        <span class="discussion-title">lorem ipsum (avis)</span>
      </a>
    </div>
    <p class="discussion-tags">
      <span class="discussion-author">
        <span class="discussion-user-logo"><i class="fa fa-user"></i></span>
      <a href="#" title>Tokiro</a>
      </span>
      <span class="discussion-time">
        <span class="discussion-time-logo"><i class="fa fa-clock-o"></i></span>
      <a href="#" title>Il y a 42 minutes</a>
      </span>
      <span class="discussion-com">
        <span class="discussion-com-logo"><i class="fa fa-comment-o"></i></span>
      <a href="#" title>42 commentaires</a>
      </span>
      <span class="discussion-like">
        <span class="discussion-like-logo"><i class="fa fa-heart-o"></i></span>
      <a href="#" title>48 likes</a>
      </span>
      <span class="discussion-game">
        <span class="discussion-game-logo"><i class="fa fa-puzzle-piece"></i></span>
      <a href="#" title>Tic-Tac-Toe</a>
      </span>
    </p>
    <div class="discussion-blue"></div>
  </div>


  <div class="discussion-message">
    <h3 class="discussion-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper auctor vestibulum. Curabitur posuere vel mi vitae scelerisque. Suspendisse ultrices quis erat in lobortis. Ut id est tortor. Duis eget rhoncus ligula.
    </h3>
  </div>

  <div class="discussion-do-u-like">
    <p class="discussion-do-u-like-message">
      <span class="discussion-do-u-like-message"> Vous aimez cette publication ?</span>
      <span class="discussion-do-u-like-message-2"><<i class="fa fa-heart-o"></i>
        <a href="#"title> +1</a></span>
    </p>
  </div>


  <div class="discussion-let-comment">
    <h3 class="discussion-legende" style="float:left; margin-top:0px !important">Laisser un commentaire</h3>
    <div class="stripe-line"></div>
    <form action="#" method="post" id="comment-form" class="comment-form">
      <textarea cols="60" rows="8" aria-required="true" class="discussion-let-comment-field"></textarea>
      <div class="discussion-title-reponse" style="margin-top:-4px">
        <a href="#" class="discussion-title-reponse-texte" title>Laisser un commentaire</a>
      </div>
    </form>
  </div>


  <div class="discussion-reponse">
    <h3 class="discussion-legende" style="float:left; margin-top:0px !important">2 commentaires</h3>
    <div class="stripe-line"></div>


    <div class="discussion-reponse-1">
      <div class="discussion-reponse-date">
        <h3 class="discussion-legende">06/04/2016 à 17h30</h3>
      </div>
      <div class="discussion-avatar" style="margin-left:-40px; margin-top:30px;">
        <img src="https://s.gravatar.com/avatar/909ecf5782b2ea2ee8888221dd8beba8?s=80">
      </div>
      <p class="discussion-reponse-user">
        <span class="discussion-reponse-user-login">Lyriam</span>
        <span style="font-size:24px"><a href="#" title><i class="fa fa-envelope-o"></i></a></span>
      </p>
      <div class="discussion-reponse-user-texte">
        <h3 class="discussion-reponse-user-texte">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper auctor vestibulum. Curabitur posuere vel mi vitae scelerisque. Suspendisse ultrices quis erat in lobortis. Ut id est tortor. Duis eget rhoncus ligula.</h3>
      </div>
      <div class="discussion-title-reponse-small">
        <a href="#" class="discussion-title-reponse-texte" title>Repondre</a>
      </div>
    </div>


    <div class="discussion-reponse-2">
      <div class="discussion-reponse-date">
        <h3 class="discussion-legende">06/04/2016 à 17h30</h3>
      </div>
      <div class="discussion-avatar" style="margin-left:-40px; margin-top:30px;">
        <img src="https://s.gravatar.com/avatar/909ecf5782b2ea2ee8888221dd8beba8?s=80">
      </div>
      <p class="discussion-reponse-user">
        <span class="discussion-reponse-user-login">Lyriam</span>
        <span style="font-size:24px"><a href="#" title><i class="fa fa-envelope-o"></i></a></span>
      </p>
      <div class="discussion-reponse-user-texte">
        <h3 class="discussion-reponse-user-texte">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper auctor vestibulum. Curabitur posuere vel mi vitae scelerisque. Suspendisse ultrices quis erat in lobortis. Ut id est tortor. Duis eget rhoncus ligula.</h3>
      </div>
      <div class="discussion-title-reponse-small">
        <a href="#" class="discussion-title-reponse-texte" title>Repondre</a>
      </div>
    </div>
