<ia-forum-discussion-title></ia-forum-discussion-title>
<ia-forum-discussion-message></ia-forum-discussion-message>
<ia-forum-discussion-reponse-one></ia-forum-discussion-reponse-one>

<!--

    <div class="discussion-reponse-2">
      <div class="discussion-reponse-date">
        <h3 class="discussion-legende">06/04/2016 à 17h30</h3>
      </div>
      <div class="discussion-avatar" style="margin-left:-40px; margin-top:30px;">
        <img src="https://s.gravatar.com/avatar/909ecf5782b2ea2ee8888221dd8beba8?s=80">
      </div>
      <p class="discussion-reponse-user">
        <span class="discussion-reponse-user-login">Lyriam</span>
        <span style="font-size:24px"><a href="#" title><i class="fa fa-envelope-o"></i></a></span>
      </p>
      <div class="discussion-reponse-user-texte">
        <h3 class="discussion-reponse-user-texte">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper auctor vestibulum. Curabitur posuere vel mi vitae scelerisque. Suspendisse ultrices quis erat in lobortis. Ut id est tortor. Duis eget rhoncus ligula.</h3>
      </div>
      <div class="discussion-title-reponse-small">
        <a href="#" class="discussion-title-reponse-texte" title>Repondre</a>
      </div>
    </div>
!-->
