@import 'src/assets/css/colors';

h2 {
  text-align: center;
}

ul {
	  width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

li {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
