<h1 mat-dialog-title>Create a new Grid</h1>
<hr>
<div mat-dialog-content>

  <h5>Number of cells:</h5>
  <mat-form-field floatPlaceholder="always">
    <input matInput id="horizontal" type="number" step="1" min="1" max="20" [(ngModel)]="data.horizontal" placeholder="Horizontal" required/>
  </mat-form-field>
  <mat-form-field floatPlaceholder="always">
    <input matInput id="vertical" type="number" step="1" min="1" max="20" [(ngModel)]="data.vertical" placeholder="Vertical" required/>
  </mat-form-field>

  <h5>Cells dimensions:</h5>
  <mat-form-field floatPlaceholder="always">
    <input matInput id="width" type="number" min="1" max="20" [(ngModel)]="data.width" placeholder="Width" required/>
  </mat-form-field>
  <mat-form-field floatPlaceholder="always">
    <input matInput id="height" type="number" min="1" max="20" [(ngModel)]="data.height" placeholder="Height" required/>
  </mat-form-field>

  <div class="form-group">
    <label for="color">Color of highlight for selection:</label>
    <input id="color" type="color" value="#ffffff" (input)="data.color=$event.target.value"/>
  </div>

  <mat-checkbox [(ngModel)]="data.alternate">Alternate texture</mat-checkbox>

  <br/>
  <mat-form-field floatPlaceholder="always">
    <mat-select [(ngModel)]="data.textureEven" (ngModelChange)="onChangePreviewEven()" [placeholder]="data.alternate ? 'Even case' : 'Case'">
      <mat-option *ngFor="let texture of textures" [value]="texture.uuid">{{texture.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatPlaceholder="always" *ngIf="data.alternate">
    <mat-select [(ngModel)]="data.textureOdd" (ngModelChange)="onChangePreviewOdd()" placeholder="Odd case">
      <mat-option *ngFor="let texture of textures" [value]="texture.uuid">{{texture.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <h5>Preview:</h5>
    <div class="row">
      <div class="form-group col-xs-6">
        <label for="previewE">Even cell texture:</label>
        <img id="previewE" *ngIf="previewEven.length > 0" [src]="previewEven" class="form-control form-custom" />
      </div>
      <div class="col-xs-6 form-group" *ngIf="data.alternate">
        <label for="previewO">Odd cell texture:</label>
        <img id="previewO" *ngIf="previewOdd.length > 0" [src]="previewOdd" class="form-control form-custom" />
      </div>
    </div>
  </div>

</div>

<hr>
<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()" >Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" >Create</button>
</mat-dialog-actions>
