<div class="search-bar">
  <button mat-button (click)="switchOrder()">
    <span #glyph class="glyphicon glyphicon-sort"></span>
  </button>
  <mat-form-field>
    <input matInput [(ngModel)]="filter">
  </mat-form-field>
  <span class="glyphicon glyphicon-search"></span>
</div>
<ul class="flex-container" >
  <li class="flex-item" *ngFor="let game of games | filter:{name: filter}:[] | orderBy:'name':order | slice:offset:10" >
      <ia-game-card
        [game]="game"
        [edit]="ownerCanEdit(game)"
        [delete]="ownerCanDelete(game)"
        [remove]="remove"
        [add]="add"
        [like]="like"
        [publish]="ownerCanTogglePublish(game)"

        (deleteGame)="deleteGame($event)"
        (togglePublishGame)="togglePublishGame($event)"
        (shouldRedirect)="redirectTo($event)"
        (addGame)="addGame($event)"
        (removeGame)="removeGame($event)"
        (editGame)="editGame($event)"
      ></ia-game-card>
  </li>
</ul>

<mat-paginator
  [pageSize]="10"
  [length]="(games | filter:{name: filter}:[]).length"
  (page)="handleEvent($event)"
  >
</mat-paginator>
