.buttons {
  padding:5px;
}

.buttons label {
  margin-right : 10px
}

button {
    background-color: #00cccc; /* Green */
    border-radius: 4px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: auto;
}

.save {
  margin-left: 10px;
}
