@import 'src/assets/css/colors';

h2 {
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;

  display: flex;

  flex-flow: row wrap;
  justify-content: flex-start;

  align-content: flex-start;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;

  width: 100px;
  height: 100px;

  text-align: center;
}

li {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

mat-card-action {
  position: absolute;
}
