h1 {
  text-align: center;
  font: italic bold 21px Georgia, serif;
}

h2 {
  text-align: center;
}

/* navbar style */

ul {
	  width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #00cccc;

}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #00cccc;
}

.active {
background-color:#00cccc;
}

#toCenter {
  margin-left: 45%;
  text-transform: uppercase;
}

#toCapitalize {
  text-transform: uppercase;
}

#grey {
  background-color: #555;
}

#goRight {
	float: right;
}

md-sidenav-layout {
  /*position: absolute;*/
  top: 0;
  left: 0;
  min-height:500px;
  height:100%;
  width: 100%;
}

md-sidenav {
  background: rgba(55,55,55,0.95);
  padding: 10px;
  width:300px;
  border-radius: 5px;
  color:white;
}

.navbar {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}
