<nav class='navbar navbar-default'>
  <ul id="grey" class='nav navbar-nav'>
   <li><a md-button (click)="start.toggle()" >Toggle Left Panel</a></li>
   <li id="goRight"><a md-button (click)="end.toggle()" >Toggle Right Panel</a></li>
  </ul>
</nav><br/>

<md-sidenav-layout>
  <md-sidenav #start mode="side">
    <ia-left-sidebar [start]="start"></ia-left-sidebar>
  </md-sidenav>
  <md-sidenav #end mode="side" align="end">
    <ia-right-sidebar [end]="end" [eventDispatcher]="dispatcher"></ia-right-sidebar>
  </md-sidenav>

  <div class="content">
    <ia-viewer [eventDispatcher]="dispatcher" ></ia-viewer>
  </div>
</md-sidenav-layout>
