<div class="close-button" mat-button (click)="end.toggle()">
    <span class="glyphicon" [ngClass]="{'glyphicon-menu-left': !end.opened, 'glyphicon-menu-right': end.opened}"></span>
</div>

<div class="contain">
  <mat-accordion>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header #objectHead [collapsedHeight]="'48px'" [expandedHeight]="'48px'" (click)="onClick($event, objectHead)">
        <mat-panel-title>
          Object Configuration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h4>Selector Mode</h4>
      <mat-radio-group [(ngModel)]="modeController" (ngModelChange)="changeModeController()">
        <mat-radio-button class="radio-margin" *ngFor="let type of controllerTypes" [value]="type">
          {{type}}
        </mat-radio-button>
      </mat-radio-group>
  
      <button mat-button (click)="deleteSelected()">Delete Selected Object</button>
      <button mat-button (click)="savePositions()">Save Positions</button>  


      <hr/>
      <h4>Object Configuration</h4>
      <form>
        <h5>Position:</h5>
        <ia-expander type="position">
          <ng-template let-checked>
            <div class="inpu" [ngClass]="{'horiflex': checked == false, 'vertiflex': checked == true}">
              <div *ngFor="let v of ['x', 'y', 'z']">
                <label for="position{{v}}">{{v}}</label>
                <input type="number" name="position{{v}}" step="0.5" [(ngModel)]="objectSelected.position[v]"
                (ngModelChange)="updateValues('position')" /><br/>
              </div>
            </div>
          </ng-template>
        </ia-expander>

        <h5>Rotation:</h5>
        <mat-radio-group [(ngModel)]="convert" name="converter">
          <mat-radio-button value="deg">Degree</mat-radio-button>
          <mat-radio-button value="rad">Radian</mat-radio-button>
        </mat-radio-group>
        <ia-expander type="rotation">
          <ng-template let-checked>
            <div class="inpu" [ngClass]="{'horiflex': checked == false, 'vertiflex': checked == true}">
              <div *ngFor="let v of ['x', 'y', 'z']">
                <label for="rotation{{v}}">{{v}}</label>
                <input type="number" id="rotation{{v}}" name="rotation{{v}}" step="1" [ngModel]="objectSelected.rotation[v] | angles:convert"
                (ngModelChange)="objectSelected.rotation[v]=conv($event)" (ngModelChange)="updateValues('rotation')"/><br/>
              </div>
            </div>
          </ng-template>
        </ia-expander>

        <h5>Dimension:</h5>
        <ia-expander type="dimension">
          <ng-template let-checked>
            <div class="inpu" [ngClass]="{'horiflex': checked == false, 'vertiflex': checked == true}">
              <div *ngFor="let v of ['x', 'y', 'z']">
                <label for="dimension{{v}}">{{v}}</label>
                <input type="number" id="dimension{{v}}" name="dimension{{v}}" step="0.5" [min]="minimumScale[v]" [(ngModel)]="objectSelected.dimension[v]"
                (ngModelChange)="updateValues('dimension')" />      
              </div>
            </div>
          </ng-template>
        </ia-expander>
        <br/>

        <div *ngIf="selected">
          <label>Name :</label>
          <div *ngIf="editMode == false; else editSelectedName" class="sizedel" id="noBorder">
            <span>{{ selected.name }}</span>
            <span class="but" title="Edit Name" (click)="editName()"><span class="glyphicon glyphicon-edit"></span></span>
          </div>
          <ng-template #editSelectedName>
            <div class="sizedel">
              <input type="string" name="edit_selected" [(ngModel)]="selected.name"/>
              <span class="but" title="Save Name" (click)="saveName()"><span class="glyphicon glyphicon-ok"></span></span>
              <span class="but" title="Undo Saving Name" (click)="undoSaveName()"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </ng-template>
        </div>
        <div *ngIf="selected">
          <label>Rules applied</label>
          <ul *ngIf="(selected.rules | keys).length  > 0; else noRules">
            <li *ngFor="let rule of selected.rules | keys">{{selected.rules[rule]._name}}</li>
          </ul>
          <ng-template #noRules>
            <p>No rule applied on this object</p>
          </ng-template>
        </div>
      </form>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header #textureHead [collapsedHeight]="'48px'" [expandedHeight]="'48px'" (click)="onClick($event, textureHead)">
        <mat-panel-title>
          Texture Configuration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h4>Select an existing texture:</h4>
      <select id="sel" [(ngModel)]="imgSelected" (ngModelChange)="previewTexture()">
        <optgroup label="Public">
          <option *ngFor="let texture of textures | filter:{published: true}:['published']" [value]="texture.uuid">{{texture.name}}</option>
        </optgroup>
        <optgroup label="Not public">
            <option *ngFor="let texture of textures | filter:{published: false}:['published']" [value]="texture.uuid">{{texture.name}}</option>
        </optgroup>
      </select>
  
      <h4><span class="glyphicon glyphicon-minus"></span> OR <span class="glyphicon glyphicon-minus"></span></h4>
      <h4>Upload a texture:</h4>
      <p *ngIf="warnMessage.length > 0" class="warn temp">
        <span class="glyphicon glyphicon-warning-sign"></span> {{ warnMessage }}
      </p>
      <p *ngIf="uploaded == true" class="up temp">
        <span class="glyphicon glyphicon-ok"></span> Uploaded
      </p>
  
      <input #selectedFile type="file" ng2FileSelect [uploader]="uploader" name="single" accept="image/*" />
      <br/>
      <button mat-button (click)="upload()" [disabled]="!uploader.getNotUploadedItems()">
        <span class="glyphicon glyphicon-upload"></span> Upload
      </button>
      <button mat-button (click)="applyTexture()">
        <span class="glyphicon glyphicon-floppy-saved"></span> Apply Texture
      </button>
      <button *ngIf="imgSelected && isOwner(imgSelected)" mat-button (click)="publishTexture()">
        {{ (published) ? 'Unpublish' : 'Publish' }}
      </button>
  
      <hr>
      <p>Preview:</p>
      <img *ngIf="imgPreview.length > 0" [src]="imgPreview" width="250" />
  
    </mat-expansion-panel>

  </mat-accordion>
</div>