button {
  background-color: #00cccc;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

input {
  color:black;
}

select, option, option:hover,
option:focus,
option:active,
option:checked  {
  color: black;
}

.center {
  text-align: center;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.temp {
  -webkit-animation-duration: 5s;animation-duration: 5s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

p.warn {
  color: #F15050;
}

p.up {
  color: #56A342
}

#sel {
  width: 150px;
}

h4 {
  font-weight: bold;
  text-align: center;
}

.radio-margin {
  margin-left: 10px;
}