<section style="background-color: #bbbbbb">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="main-title">A PROPOS D'INDAYM</h1>
                <h4>
          <strong>Marre des jeux de société synonymes d'ennui profond ?<br/>
            Vous avez toujours voulu créer votre propre jeu de société, qui soit à la fois drôle et dynamique ?
          </strong>
        </h4>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <a href="http://localhost:4000/gameslist">
                    <h2 class="link">Venez jouer gratuitement !</h2>
                </a>
                <p><br/> Venez gratuitement et en toute simplicité créer votre propre jeu de société.<br/> Amusez-vous ensuite à y jouer avec vos amis.
                </p>
            </div>
        </div>
        <img src="/assets/images/Home_photo.jpg" class="home-pic">

    </div>
</section>
<div class="w3-container w3-padding-48" id="about">
    <div class="w3-content">

        <div class="group-pic">
        </div>

    </div>
</div>

<div class="news">
    <!--	<ia-news> </ia-news> !-->
</div>

<footer class="w3-container w3-center w3-white">
    <div class="w3-xlarge w3-padding-16">
        <h1 class="w3-margin w3-large">Quote of the day: More games, more fun</h1>
        <a href="https://www.facebook.com/iindaym/" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
        <a href="https://twitter.com/indaym_" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
        <a href="http://eip.epitech.eu/2018/indaym/" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
        <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
    </div>

</footer>
