<div class="w3-container w3-padding-48" id="about">
  <div class="w3-content">
    <h5 class="w3-center"><span class="w3-tag w3-wide w3-padding-left w3-padding-right w3-padding-4">ABOUT INDAYM</span></h5>
    <p><strong>INDAYM was founded in blabla by Mr. Tokiro in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
    <p><strong>In addition to our Editor and games menu, we give you the opportunity to put your game in a box and sell it !</strong></p>


    <div class="group-pic">
    	<img src="/assets/images/Home_photo.jpg" class="home-pic">
	</div>

  </div>
</div>

<div class="news">
	<ia-news> </ia-news>
</div>

<footer class="w3-container w3-center w3-white">  
  <div class="w3-xlarge w3-padding-16">
	<h1 class="w3-margin w3-large">Quote of the day: More games, more fun</h1>
    <a href="https://www.facebook.com/iindaym/" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
    <a href="https://twitter.com/indaym_" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
    <a href="http://eip.epitech.eu/2018/indaym/" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
    <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
 </div>
 
</footer>


