
// Cyan
$light-cyan: #00CCCC;
$dark-cyan: #009C9C;

// Grey
$dark-grey: #444;
$dark-grey-light: #555;
$dark-grey-alpha: rgba(68, 68, 68, 0.95);

$gray:  gray;
$light-grey: #e7e7e7;

// White
$white: #fff;
$black: #000;

$warn-red: #F15050;
$up-green: #56A342;

$dark-red: #A70000;