<div id="filter">
  <button (click)="switchOrder()">
    <span #glyph class="glyphicon glyphicon-sort"></span>
  </button>
  <input type="text" [(ngModel)]="filter">
</div>
<ul #itemsList id="itemsList" *ngFor="let typ of categories; trackBy: trackSwitch">
  <ia-expander [type]="typ" [checked]="true">
    <ng-template let-checked>
      <p (click)="selectTypeObjects(typ, $event)">{{typ | titlecase}}</p>
      <span *ngIf="checked">
        <li class="none-style" [ngClass]="{'selected': isSelected(item)}" *ngFor="let item of itemsIcons | filter:{type: typ, name: filter}:['type'] | orderBy:'name':order" (click)="selectObject(item.uuid, $event)">
          <span class="glyphicon glyphicon-triangle-right"></span>
          <img *ngIf="item.icon" src="{{item.icon}}" class="icon">
          <span>{{item.name}}</span>
        </li>
      </span>
    </ng-template>
  </ia-expander>
</ul>
