<mat-card>
  <mat-card-header>
    <mat-card-title>{{ game.name }}<span *ngIf="isOwner()" class="own-game push-right">Own</span></mat-card-title>
    <mat-card-subtitle>{{ game.rate }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/board-games.jpg" (click)="redirect()" >
  <mat-card-content>
    <p>
      <b>Description :</b>
      {{ game.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="like"    mat-raised-button class="push-left" (click)="onLike()" >Like</button>
    <button *ngIf="add && !isOwner() && !game.added"     mat-raised-button class="push-left" (click)="onAdd()" >ADD</button>
    <button *ngIf="edit"    mat-raised-button class="push-right" (click)="onEdit()" >Edit data</button>
    <button *ngIf="publish" mat-raised-button class="push-right" (click)="onPublish()" >{{ isPublished() }}</button>
    <button *ngIf="delete"  mat-raised-button class="push-right" color="warn" (click)="onDel()"  >Delete</button>
    <button *ngIf="remove && !isOwner() && game.added"  mat-raised-button class="push-right" color="warn" (click)="onRemove()"  >Remove</button>
  </mat-card-actions>
</mat-card>
