@import 'src/assets/css/colors';

mat-card {
  width: 400px;
  height: 550px;
}

mat-card-actions {
  height: 50px;
}

.mat-card-image {
  @media (max-width: 600px)  {
    margin:0 -24px 16px -24px;
  }
}

p {
  height: 80px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}

.own-game {
  position: absolute;
  right: 10px;
  color: $white;
  padding: 0 4px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  background: $dark-cyan;
}