<mat-card>
  <mat-card-header>
    <mat-card-title>{{ game.name }}</mat-card-title>
    <mat-card-subtitle>{{ game.rate }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/jeu1.png" >
  <mat-card-content>
    <p>
      {{ game.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="like"    mat-raised-button class="push-left" (click)="onLike()" >Like</button>
    <button *ngIf="add"     mat-raised-button class="push-left" (click)="onAdd()" >ADD</button>
    <button *ngIf="edit"    mat-raised-button class="push-right" (click)="onEdit()" >Edit</button>
    <button *ngIf="publish" mat-raised-button class="push-right" (click)="onPublish()" >{{ isPublished() }}</button>
    <button *ngIf="delete"  mat-raised-button class="push-right" color="warn" (click)="onDel()"  >Delete</button>
  </mat-card-actions>
</mat-card>
