<span md-button (click)="start.close()" class="close-button glyphicon glyphicon-remove"></span>

<button md-button (click)="toggleMode()">Toggle</button>

<span>Mode : {{start.mode}}</span>

<ia-tabs>
  <ia-tab tabTitle="Edit">
    <form>
      Search:
      <input type="search" name="Search a template">
    </form>
    <br/>
    Pour placer un objet dans l'éditeur:<br/>
    -Cliquer le place en pos 0 0<br/>
    -Le drag and drop à la position voulue<br/>
    <br/>
    <h3>Objects</h3><br/>
    <ia-tabs>
      <!-- Boards (don't change the ids) -->
      <ia-tab tabTitle="Boards">
        <h3>Board Templates</h3><br/>
        <form id="customBoard">Custom board:<br/>
          <input type="text" name="later">
          <button>Add</button>
        </form><br/>
        <div>
          <button *ngFor="let item of html.keys(items.boards)" dnd-draggable [dropZones]="['editor']" [dragEnabled]="true" dragData="{{item}}" (click)="addObject(item)">{{items.boards[item]}}</button><br/>
        </div>
      </ia-tab>

      <!-- Pawns (don't change the ids) -->
      <ia-tab tabTitle="Pawns">
        <h3>Pawn Templates</h3><br/>
        <form id="customPawn">Custom pawn:<br/>
          <input type="text" name="later">
          <button>Add</button>
        </form><br/>
        <div>
          <button *ngFor="let item of html.keys(items.pawns)" dnd-draggable [dropZones]="['editor']" [dragEnabled]="true" dragData="{{item}}" (click)="addObject(item)">{{items.pawns[item]}}</button><br/>
        </div>
      </ia-tab>

      <!-- Cards (don't change the ids) -->
      <ia-tab tabTitle="Cards">
        <h3>Card Templates</h3><br/>
        <form id="customCards">Custom card:<br/>
          <input type="text" name="later">
          <button>Add</button>
        </form><br/>
        <div>
          <div>Not implemented yet</div><br/>
        </div>
      </ia-tab>

      <!-- Dices (don't change the ids) -->
      <ia-tab tabTitle="Dices">
        <h3>Dice Templates</h3><br/>
        <form id="customDices">Custom dice:<br/>
          <input type="text" name="later">
          <button>Add</button>
        </form><br/>
        <div>
          <div>Not implemented yet</div><br/>
        </div>
      </ia-tab>
    </ia-tabs>
  </ia-tab>

  <ia-tab tabTitle="Objects List">
    <div *ngFor="let item of gameController.getObjects()">
      <img src="{{item.icon}}">
      {{item.name}}
    </div>
  </ia-tab>
</ia-tabs>
