<span md-button (click)="start.close()" class="close-button glyphicon glyphicon-remove"></span>

<button md-button (click)="toggleMode()">Toggle</button>

<span>Mode : {{start.mode}}</span>

<tabs>
  <tab tabTitle="Objects">
    <form>
      Search:
      <input type="search" name="Search an object">
    </form>
    <button ng-click="boardFunction()">Boards</button><br/>
    <button ng-click="pawnFunction()">Pawns</button><br/>
    Here's some content.
  </tab>
  <tab tabTitle="Templates">
    <form>
      Search:
      <input type="search" name="Search a template">
    </form>
    Boards:<br/>
    <button>Simple board</button><br/>
    <button>Bicolor board</button><br/>
    <br/>
    Pawns:<br/>
    <button>Standard pawn</button><br/>
    <button>Round pawn</button><br/>
    <button>Squared pawn</button><br/>
    And here's more in another tab.
  </tab>
</tabs>
