button {
  background-color: #00cccc;
  border-radius: 4px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px;
}

#toBlack {
  color: black;
}

.none-style {
  list-style: none;
}

#itemsList li {
  margin: 5px 0;
}

#itemsList li:hover .glyphicon {
  display:inline;
}

#itemsList li .glyphicon {
  display:none;
}

#itemsList li:hover {
  cursor: pointer;
  color: white;
}

#closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  float:right;
}
