<nav class="navbar navbar-default">
	<h1>Indaym</h1>
	<ul class='nav navbar-nav'>
	  <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
	  <li><a routerLink="/gameslist" routerLinkActive="active">Editor</a></li>
	  <li><a routerLink="/play" routerLinkActive="active">Play</a></li>
	  <li><a routerLink="/store" routerLinkActive="active">Store</a></li>
    <li><a routerLink="/forum" routerLinkActive="active">Forum</a></li>
    <ia-auth-button></ia-auth-button>
	</ul>
</nav>

<div class="background-image" [ngStyle]="{'background-image' : 'url(../assets/img/bg/indaymlogo.png)'}">
</div>

<router-outlet> </router-outlet>

<!--<nav class="footer">
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/legalMentions" routerLinkActive="active">Legal Mentions</a>
</nav>-->
