<nav class="navbar navbar-default navbar-static-top">
  <h1>Indaym</h1>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/editor" routerLinkActive="active">Editor</a>
  <a routerLink="/play" routerLinkActive="active">Play</a>
  <a routerLink="/store" routerLinkActive="active">Store</a>
  <a routerLink="/forum" routerLinkActive="active">Forum</a>
</nav>

<router-outlet> </router-outlet>
<!--<nav class="footer">
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/legalMentions" routerLinkActive="active">Legal Mentions</a>
</nav>!-->
