<div class="row">
  <h4>Object selected : <strong *ngIf="selectedObject">{{ selectedObject.name }}</strong></h4>
</div>
<div class="row">
  <!-- List of objects -->
  <div class="col-xs-3">
    <ia-object-list [eventDispatcher]="dispatcher" multiSelect></ia-object-list>
  </div>
  <!-- List of Rules available -->
  <div class="col-xs-3">
    <div id="available-rules" class="list-group" [dragula]='"rulesBag"'>
      <a *ngFor="let rule of availableRules" class="list-group-item">{{rule}}<span class="badge" (click)="addRule(rule)"><span class="glyphicon glyphicon-plus"></span></span></a>
    </div>
  </div>
  <!-- List of Rules already applied -->
  <div class="col-xs-3">
    <div id="applied-rules" class="list-group"  [dragula]='"rulesBag"'>
      <a *ngFor="let rule of appliedRules" class="list-group-item" (click)="selectRule(rule)">{{rule}}<span class="badge" (click)="removeRule(rule)"><span class="glyphicon glyphicon-minus"></span></span></a>
    </div>    
  </div>
  <!-- Configuration of the object -->
  <div class="col-xs-3">
    <div *ngIf="selectedRule">
      <div class="form-group">
        <label for="color">Color :</label>
        <input id="color" type="color" [ngModel]="selectedRule.config.color | toHexView" (ngModelChange)="viewToHex($event)"/>
      </div>
      <div class="form-group">
        <label for="move">Movement :</label>
        <input id="move" type="number" [(ngModel)]="selectedRule.config.movement"/>
      </div>
      <button (click)="saveRules()">Save Configuration</button>
    </div>  
  </div>  
</div>
