<nav class='navbar navbar-default'>
    <ul id="grey" class='nav navbar-nav'>
        <li><a md-button (click)="menu.toggle()" >Toggle Left Panel</a></li>
    </ul>
</nav><br/>

<md-sidenav-layout>
    <md-sidenav #menu mode="side">
        <ia-left-bar [menu]="menu" [eventDispatcher]="dispatcher" [selectRules]="selectRules" [objs]="gameController.getObjects()"></ia-left-bar>
    </md-sidenav>
</md-sidenav-layout>

<div id="name">
    <div>Item name</div>
    <div>Rules applied to this item:</div>
</div>
<div id="rules">
    <div class='container' [dragula]='"first-bag"' id="rulesContainer">
        <div>Rule 8</div>
        <div>Rule 9</div>
    </div>
</div>
<div id="save">
    <button (click)="saveRules()">Save</button>
</div>