<div class="row">
  <h4>Selected Object: <strong *ngIf="selectedObjects">{{ selectedObjects | joinArrayKey }}</strong></h4>
</div>
<div class="row">
  <!-- List of objects -->
  <div class="col-xs-3">
    <ia-object-list [eventDispatcher]="dispatcher" multiSelect></ia-object-list>
  </div>
  <!-- List of Rules available -->
  <div class="col-xs-3">
    <div *ngIf="selectedObjects && selectedObjects.length > 0">
      <div id="available-rules-title" class="blueprint-title">Available Rules</div>
      <div id="available-rules" class="list-group" [dragula]='"rulesBag"'>
        <a *ngFor="let rule of availableRules" [attr.data-rulename]="rule" class="list-group-item">{{rule}}<span class="badge" (click)="addRule(rule)"><span class="glyphicon glyphicon-plus"></span></span></a>
      </div>
    </div>
  </div>
  <!-- List of Rules already applied -->
  <div class="col-xs-3">
    <div *ngIf="selectedObjects && selectedObjects.length > 0">
      <div id="applied-rules-title" class="blueprint-title">Rules to be applied</div>
      <div id="applied-rules" class="list-group"  [dragula]='"rulesBag"'>
        <a *ngFor="let rule of appliedRules" [attr.data-rulename]="rule" class="list-group-item" (click)="selectRule(rule)">{{rule}}<span class="badge" (click)="removeRule(rule)"><span class="glyphicon glyphicon-minus"></span></span></a>
      </div>
    </div>
  </div>
  <!-- Configuration of the object -->
  <div class="col-xs-3">
    <div *ngIf="selectedRule">
      <div *ngIf="selectedRule.id === 'ChangeColor'" class="form-group">
        <label for="color">Color :</label>
        <input id="color" type="color" [ngModel]="selectedRule.config.color | toHexView" (ngModelChange)="viewToHex($event)"/>
      </div>
      <div *ngIf="selectedRule.id === 'MoveForward' || selectedRule.id === 'MoveDiag'" class="form-group">
        <label for="move">Movement :</label>
        <input id="move" type="number" [(ngModel)]="selectedRule.config.movement"/>
      </div>
      <div *ngIf="selectedRule.id === 'CaseText'" class="form-group">
        <label for="caseText">Text to display :</label>
        <input id="caseText" type="text" [(ngModel)]="selectedRule.config.caseText"/>
      </div>
      <div *ngIf="selectedRule.id === 'DicePawn'" class="form-group">
        <label for="move">How many face on your dice ? :</label>
        <input id="move" type="number" [(ngModel)]="selectedRule.config.dice"/>
      </div>
      <button (click)="saveRules(true)">Save Configuration</button>
    </div>
  </div>
</div>
