
<ul>
    <li id="toCenter1"><a id="buttonGame" (click)="gameFunction()" class="active" [routerLink]="['/sceneslist']">Create a New Game</a></li>
</ul>

<br/><br/>
<div id="toCenter2">
    <p id="myGames">My Games:</p>
    <div id="toCenter3">
      <!-- CARO Ici tu dois montrer la liste des jeux existants qui sont en DB -->
        <button>Jeu Test 1</button><br/><br/>
        <button>Jeu Test 2</button><br/><br/>
        <button>Jeu Test 3</button><br/><br/>
    </div>
</div>

<router-outlet></router-outlet>
