h2 {
  text-align: center;
}

ul {
	  width: 100%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #00cccc;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #331e72;
}

#toCenter1 {
  margin-left: 39%;
  margin-right: 37%;
  text-transform: uppercase;
  font-size: 36px;
}

#toCenter2 {
  margin-left: 46%;
  text-transform: uppercase;
  font-size: 30px;
}

#toCenter3 {
  margin-left: 2%;
}

#toCapitalize {
  text-transform: uppercase;
}

#myGames {
  font-size: 36px;
  font-weight: bold;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-left:70%;
}
