.checkaccord {
  width: 0;
  height: 0;
  position: relative;
  left: -17px;
  top: 1px;

  &:hover span {
    color: gray;
  }

  span {
    cursor:pointer;
    font-size: 12px;
  }

  input {
    visibility: hidden;
  }
}