.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-card {
  width: 300px;
}

.half {
  width: 50%;
}

.up {
  transform: translate(-50px, -30px)
}
