h2 {
  text-align: center;
}

#form-login {
  margin-left: 45%;
  margin-top: 15%;
  color: #636867;
}

input {
  border: none;
  outline: 0;
  background-color: #FFFFFF;
  border-bottom: 2px solid #636867;
}

input:active, input:hover, input:focus {
  border-bottom: 3px solid #64E1D1;
}

#error {
  margin-left: auto;
  margin-right: auto;
}
