  <form #loginForm="ngForm" (ngSubmit)="login()" >
    <div>
      <label for="name" >Username</label>
      <input type="text" id="name" required [(ngModel)]="username" name="name" #name="ngModel" >
    </div>
    <div [hidden]="name.valid || name.pristine" >Username is required</div>

    <div>
      <label for="Email" >email</label>
      <input type="email" id="Email" required [(ngModel)]="email" name="Email" #Email="ngModel" >
    </div>
    <div [hidden]="Email.valid || Email.pristine" >Email is required</div>

    <div>
      <label for="Passwod" >Password</label>
      <input type="password" id="Passwod" required [(ngModel)]="password" name="Passwod" #Passwod="ngModel" >
    </div>
    <div [hidden]="Passwod.valid || Passwod.pristine" >Password is required</div>

    <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
  </form>

  <div *ngIf="hasError" >{{error}}</div>
