<form
  *ngIf="!success; else successBlock"
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  class="center-block"
  novalidate >

  <mat-form-field>
    <input  matInput type="text"
            formControlName="username" [errorStateMatcher]="matcher"
            placeholder="Username" required >
  </mat-form-field>
  <br/>

  <mat-form-field>
    <input  matInput type="email"
            formControlName="email" [errorStateMatcher]="matcher"
            placeholder="Email" required >
  </mat-form-field>
  <br/>

  <div formGroupName="passwords" >
    <mat-form-field>
      <input  matInput type="password"
              formControlName="password" [errorStateMatcher]="matcher"
              placeholder="Password" required>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input  matInput type="password"
              formControlName="confirm_password" [errorStateMatcher]="matcher"
              placeholder="Confirm password" required >
    </mat-form-field>

    <mat-error *ngIf="registerForm.get('passwords').hasError('nomatch')" >Password must match</mat-error>
  </div>
  <br/>

  <div *ngIf="hasError" >
      <div *ngIf="errors" >
        <mat-error *ngFor="let error of errors" >{{error}}</mat-error>
      </div>
      <mat-error *ngIf="error" >{{error}}</mat-error>
      <br/>
    </div>
    <button mat-raised-button type="submit"
      [disabled]="registerForm.invalid"
    >Submit</button>
</form>

<div
  *ngIf="submitted" >
  <mat-progress-spinner
    class="center-block"
    [color]="'primary'"
    [mode]="'indeterminate'"
  ></mat-progress-spinner>
</div>

<ng-template #successBlock >
  <p class="center-block up" >
    You will be redirected
  </p>
  <mat-progress-bar
    class="center-block half"
    [color]="'primary'"
    [mode]="'indeterminate'" >
  </mat-progress-bar>
</ng-template>
