<div *ngIf="!success; else successBlock" >
  <div>
    <form id="form-login" #loginForm="ngForm" (ngSubmit)="register()" >

      <div>
        <label for="name" >Username</label>
        <br/>
        <input type="text" id="name" required [(ngModel)]="username" name="name" #name="ngModel" >
      </div>
      <div [hidden]="name.valid || name.pristine" >Username is required</div>
      <br/>

      <div>
        <label for="Email" >Email</label>
        <br/>
        <input type="email" id="Email" required [(ngModel)]="email" name="Email" #Email="ngModel" >
      </div>
      <div [hidden]="Email.valid || Email.pristine" >Email is required</div>
      <br/>

      <div>
          <label for="Password" >Password</label>
          <br/>
          <input type="password" id="Password" required [(ngModel)]="password" name="Password" #Password="ngModel" >
      </div>
      <div [hidden]="Password.valid || Password.pristine" >Password is required</div><br/>

      <div>
          <label for="Password_confirmation" >Password</label>
          <br/>
          <input type="password" id="Password_confirmation" required
            [(ngModel)]="confirmation_password" name="Password_confirmation"
            #Password_confirmation="ngModel" >
      </div>
      <div *ngIf="!pwdIsOk" >Passwords must be the same</div>
      <br/>
      <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
    </form>
  </div>
  <div *ngIf="hasError" >
    {{error}}
  </div>
</div>
<ng-template #successBlock >
  you will be redirect on the login page
</ng-template>
