<div class="discussion-let-comment" style="transition-duration: 0.4s;-webkit-transition-duration: 0.4s;">
  <form action="#" method="post" id="comment-form" class="comment-form">
    <h3 class="discussion-legende" style="color:black; margin-bottom:0px">Titre</h3>
    <textarea cols="60" rows="8" aria-required="true" class="discussion-let-comment-field-small"></textarea>
    <div class="discussion-reponse">
        <h3 class="discussion-legende" style="float:left; margin-top:0px !important; color:black">Message</h3>
        <div class="stripe-line" style="margin-top:3px!important;"></div>
    </div>
    <textarea cols="60" rows="8" aria-required="true" class="discussion-let-comment-field"></textarea>
    <div class="discussion-title-reponse" style="margin-top:-4px">
      <a href="#" class="discussion-title-reponse-texte" title>Envoyer</a>
    </div>
  </form>
  <div class="discussion-reponse">
    <h3 class="discussion-legende" style="float:left; margin-top:0px !important; color:black"></h3>
    <div class="stripe-line" style="margin-bottom:20px;"></div>
  </div>
</div>
